<div>
  <%= flash[:notice] %>
</div>

<h2>Book detail</h2>

<p><%= image_tag @book.user.get_profile_image %></p>
<p><%= @user.name %></p>
<p>Title：<%= @book.title %></p>
<p>Opinion：<%= @book.body %></p>

<% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>