<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3e2032f4ae.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
     <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white mb-3">
      <% if user_signed_in? %>

         <ul class="navbar-nav mr-auto">
          <li>
            <%= link_to 'Bookers', '/' %>
          </li>
         </ul>

        <div class="justify-content-end">
         <ul class="navbar-nav">
          <li>
            <%= link_to user_path(current_user.id) do%>
              <i class="fas fa-home"></i>
              Home
            <% end  %>
          </li>

          <li>
            <%= link_to users_path do%>
              <i class="fas fa-users"></i>
              Users
            <% end %>
          </li>

          <li>
            <%= link_to books_path do%>
              <i class="fas fa-book-open"></i>
              Books
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
              Log out
            <% end %>
          </li>
         </ul>
        </div>
      <% else %>
       <ul class="navbar-nav mr-auto">
        <li>
          <%= link_to 'Bookers', '/' %>
        </li>
       </ul>

       <ul class="navbar-nav mr-auto">
        <li>
          <%= link_to "/" do %>
            <i class="fas fa-home"></i>
            Home
          <% end %>
        </li>

        <li>
          <%= link_to about_path do%>
            <i class="fas fa-link"></i>
            About
          <% end %>
        </li>

        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus"></i>
            Sign up
          <% end %>
        </li>

        <li>
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt"></i>
            Log in
          <% end %>
        </li>
       </ul>
      <% end %>
     </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer class="text-center">
      <p>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
