<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3e2032f4ae.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
     <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white mb-3">
      <% if user_signed_in? %>

         <ul class="navbar-nav mr-auto">
          <li>
            <%= link_to 'Bookers', '/' %>
          </li>
         </ul>

        <div class="justify-content-end">
         <ul class="navbar-nav">
          <li>
            <i class="fa-solid fa-house-chimney"><%= link_to 'Home', user_path(current_user.id) %></i>
          </li>

          <li>
            <i class="fa-solid fa-users"><%= link_to 'Users', users_path %></i>
          </li>

          <li>
            <i class="fa-solid fa-book-open"><%= link_to 'Books', books_path %></i>
          </li>
          <li>
            <i class="fa-solid fa-right-from-bracket"><%= link_to "Log out", destroy_user_session_path, method: :delete %></i>
          </li>
         </ul>
        </div>
      <% else %>
       <ul class="navbar-nav mr-auto">
        <li>
          <%= link_to 'Bookers', '/' %>
        </li>
       </ul>

       <ul class="navbar-nav mr-auto">
        <li>
          <i class="fa-solid fa-house-chimney"><%= link_to "Home", "/" %></i>
        </li>

        <li>
          <i class="fa-solid fa-link"><%= link_to "About", about_path %></i>
        </li>

        <li>
          <i class="fa-solid fa-user-plus"><%= link_to "Sign Up", new_user_registration_path %></i>
        </li>

        <li>
          <i class="fa-solid fa-right-to-bracket"><%= link_to "Log in", new_user_session_path %></i>
        </li>
       </ul>
      <% end %>
     </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer class="text-center">
      <p>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
